<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536818951639-cnovj37jpe3fq1bvv4mngtnillc3e3i5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536818951639-cnovj37jpe3fq1bvv4mngtnillc3e3i5</string>
	<key>API_KEY</key>
	<string>AIzaSyDO70-wMdDlmybfzLYsBRM0xaLBjp2niu0</string>
	<key>GCM_SENDER_ID</key>
	<string>536818951639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ROCKY.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestoretutori-d06ef</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestoretutori-d06ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536818951639:ios:eac670b723752258779792</string>
</dict>
</plist>